.cardItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 10px;
}
.cardItemVisited {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: aquamarine;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

.cardMap {
  height: 30vh;
  width: 40%;
  border: 2px solid #387280;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #5d6365;
}
.cardInfoPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0.5rem;
}
.cardInfoPart p {
  margin: 0.1rem;
}
.locationInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnContainer button {
  margin: 0.5rem;
  background-color: #387280;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.cardTitles {
  font-size: 1.2rem;
  font-weight: bold;
  color: #387280;
}
.cardTitlesLatLon {
  font-size: 1rem;
  font-weight: 500;
  color: #387280;
  margin-left: 0.5rem;
}
.visitTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
.visited {
  padding: 5px;
}
.editTextArea {
  width: 80%;
  height: 100%;
  border: 2px solid #387280;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #5d6365;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #387280;
  margin-left: 0.5rem;
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .cardMap {
    height: 20vh;
    width: 80%;
  }
  .cardInfoPart {
    width: 100%;
  }
  .cardItem {
    flex-direction: column;
  }
  .cardItemVisited {
    flex-direction: column;
  }
}
