/* container for the map */
.leaflet-container {
  height: 100%;
  width: 100%;
}
.card-map {
  height: 20vh;
  width: 50%;
}

body {
  text-align: center;
}
.card-item {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 10px;
}

.location-container {
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

/* .location-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
} */
